<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoreKit-Package.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CoreKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>CoreKitRevenue.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>DebugTools.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>DemoApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>NotificationManager.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Onboarding.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>RevenueCatManager.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>ReviewManager.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Settings.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>ThemeManager.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>UserProfile.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CoreDataManagerTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CoreKit</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CoreKitRevenue</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DebugTools</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DebugToolsTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DemoApp</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>NotificationManager</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>NotificationManagerTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>Onboarding</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OnboardingTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>RevenueCatManager</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>RevenueCatManagerTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ReviewManager</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ReviewRequestTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>Settings</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SettingsTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ThemeManager</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ThemeManagerTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>UserProfile</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>UserProfileTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>UtilitiesTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
